<button onclick="alert('こんにちは');">クリック</button>
<button onclick="sayHello();">クリック</button>
<button onclick="open('homes/top2', null, 'width=300,height=150');">開く</button>
<script>
  function setValue() {
  var elm = document.getElementsByName("tx1");
  for (var i = 0; i < elm.length; i++) {
    elm[i].value = "Hello!";
    }
  }
</script>
<input name="tx1" type="text">
<input name="tx1" type="text">
<input name="tx1" type="text">
<button onclick="setValue();">クリック</button>
<div class="box animate__animated animate__bounce">animate.css</div>
<div class="box fadeUpTrigger">画面が読み込まれたらふわっ（下から）</div>
<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓
<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓スクロールすると1度だけ動く<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓

<div class="box fadeUpTrigger">スクロールしたら1度だけふわっ（下から）</div>
<div class="fadeInUpTrigger box">すぐ現れるボックス</div>
<div class="fadeInUpTrigger box animate__infinite">アニメーション無限ループ</div>
<div class="fadeInUpTrigger box count2">独自設定：アニメーション回数指定（2回）</div>
<!--/flex--></div>
  
<!--アニメーションがスタートするタイミング設定-->  
<div class="flex">
<div class="fadeInUpTrigger box animate__delay-1s">アニメーションが1秒遅れでスタート</div>
<div class="fadeInUpTrigger box animate__delay-2s">アニメーションが2秒遅れでスタート</div>
<div class="fadeInUpTrigger box animate__delay-3s">アニメーションが3秒遅れでスタート</div>
<div class="fadeInUpTrigger box animate__delay-4s">アニメーションが4秒遅れでスタート</div>
<div class="fadeInUpTrigger box animate__delay-5s">アニメーションが5秒遅れでスタート</div>
<div class="fadeInUpTrigger box delay-time">（CSS独自設定）アニメーションが0.5秒遅れでスタート</div>
<!--/flex--></div>
  
<!--アニメーションの変化時間の設定-->
<div class="flex">
<div class="fadeInUpTrigger box animate__slow">アニメーションの変化のスピードが遅い</div>
<div class="fadeInUpTrigger box animate__slower">アニメーションの変化のスピードがさらに遅い</div>
<div class="fadeInUpTrigger box animate__fast">アニメーションの変化のスピードが速い</div>
<div class="fadeInUpTrigger box animate__faster">アニメーションの変化のスピードがさらに速い</div>
<div class="fadeInUpTrigger box change-time">（CSS独自設定）アニメーションの変化のスピードが4.5秒</div>
<!--/flex--></div>
    
<!--スクロールをしたら1度だけアニメーションをする設定 -->
<div class="fadeInUpTriggerOnce box">スクロールをしたら1度だけアニメーションをする</div>

<!--違う動きを追加指定-->
<div class="fadeInDownTrigger box">違う動きを追加指定</div>
<script>
  var a = 10
  var a = 20
  console.log(a);
  var number = [10,20,30];
  number[1] = 50
  console.log(number[1]);

  function calc() {
    var num = 0;
    for(var i=1; i<=10; i++){
      num += i;
    }
    return num;
  }
  var result = calc();
  console.log(result)
  var obj1 = {
    name: "よしお",
    greet: function(age, from) {
      console.log(this.name + "です、はじめました");
      console.log("年齢は" + age + "歳です");
      console.log("出身地は" + from + "です");
    }
  };
  var obj2 = {
    name: "百合子"
  };
  var param = [6, "アメリカ"];
  obj1.greet.apply(obj2,param);

  var date = "2023年7月11日";
  var result = date.match(/[0-9]+/g);
  console.log(result);

  function sayHello() {
    alert("こんにちわ");
  }
  </script>