<button onclick="window.close();">閉じる</button>
<h1>Count Up Down</h1>

<div id="box1" class="box">
<p>男性の学生数<br><span class="count-up count-size">2540</span>人</p>
<p>女性の学生数<br><span class="count-up count-size">2300</span>人</p>
<!--/box--></div>
<div id="box2" class="box">
<p>学食充実満足度全国<br>第<span class="count-down count-size">1</span>位</p>
<!--/box--></div>

<h2>9-2-2 任意の場所をクリックすると隠れていた内容が開き、先に開いていた内容が閉じる</h2>
  <ul class="accordion-area">
      <li>
          <section>
            <h3 class="title">お見積もりの目安を教えてください。</h3>
            <div class="box">
              <p>内容によって変化いたしますのでまずはお問い合わせフォームよりご相談ください。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">地方ですが発注は可能でしょうか</h3>
            <div class="box">
              <p>可能です。お気軽にご相談ください。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">セミナーやイベントの出演を依頼したいのですが</h3>
            <div class="box ">
              <p>お問い合わせフォームより日時や内容などをご記入いただきご相談ください。</p>
            </div>
          </section>
          
        </li>
      </ul>