<button onclick="window.close();">閉じる</button>
<h1>Count Up Down</h1>

<div id="box1" class="box">
<p>男性の学生数<br><span class="count-up count-size">2540</span>人</p>
<p>女性の学生数<br><span class="count-up count-size">2300</span>人</p>
<!--/box--></div>
<div id="box2" class="box">
<p>学食充実満足度全国<br>第<span class="count-down count-size">1</span>位</p>
<!--/box--></div>